/*FONT STYLES*/

h1 {
font-size: 64px;
font-weight: 100;
letter-spacing: -1.5px;
}

h1 {
	margin: 0px auto 20px;
}

p {
	font-weight: 300;
	line-height: 1.5;
    letter-spacing: 0.1px;
	margin: 0px auto 48px;
}

.subtitle{
	font-size: 23px;
	font-weight:300;
}

h2{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 15px;
	color: #23a6ca;
}

.work h2 {
	padding-bottom: 5px;
}

.work p {
	margin: 0;
}

.work ul {
	padding-left: 14px;
}

.work ul li {
	list-style: circle;
}

@media screen and (max-width: 960px) {
	h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 460px) {
	h1 {
		font-size: 40px;
	}
}