/*LAYOUTS*/

[class*='col-'] {
	float: left;
	padding-right: 20px;
}


[class*='col-']:last-of-type {
	padding-right: 0;
}

.grid:after {
	content: "";
	display: table;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.col-1-1 {
	width: 100%;
}
.col-1-2 {
	width: 50%;
}
.col-1-3 {
	width:41.6667%;
}
.col-1-4 {
	width: 45%;
}
.col-1-6 {
	width: 55%;
}

.clear {
	padding-bottom: 40px;
}

@media screen and (max-width: 960px) {
	.col-1-1 {
		width: 100%;
	}
	.col-1-2 {
		width: 50%;
	}
	 .col-1-3 {
	 	width:41.6667%;
	 }
	 .col-1-4 {
	 	width: 35%;
	 }
	 .col-1-6 {
	 	width: 60%;
	 }

}

@media screen and (max-width: 460px) {
	.col-1-1 {
		width: 100%;
	}
	.col-1-2 {
		width: 100%;
	}
	 .col-1-3 {
	 	width: 110%;
	 }

	 .col-1-4 {
	 	width: 80%;
	 }
	 .col-1-6 {
	 	width: 100%;
	 }
}
