body{font-family:Lato,'Lato';margin:0;padding:0;font-size:13px;}
a{color:#0072C6;text-decoration:none;}
a:visited{color:#639;text-decoration:none;}
.ig{margin:10px 0px;}
.lb-data{font-family:Lato,'Lato'}
.container{width:990px !important;margin:0 auto;height:495px;}
.ssf-logo{float:left;padding-top:20px;}
.search{float:right;font-size:10px;}
#search{margin-top:52px;display:inline-block;}
::-webkit-input-placeholder{font-family:Lato,'Lato';font-size:13px;color:#000;}
:-moz-placeholder{font-family:Lato,'Lato';font-size:13px;color:#000;}
::-moz-placeholder{font-family:Lato,'Lato';font-size:13px;color:#000;}
:-ms-input-placeholder{font-family:Lato,'Lato';font-size:13px;color:#000;}
.ms-srch-sb>input{color:#bebebe;font-size:1.4em;padding:6px 15px 6px 35px;-webkit-transition:all 0.7s ease 0s;-moz-transition:all 0.7s ease 0s;-o-transition:all 0.7s ease 0s;transition:all 0.7s ease 0s;}
.ms-srch-sb>input:focus{width:250px;}
#subscribebox{font-size:12px;border:1px solid #d1d1d1;color:#bebebe;padding:6px 15px 6px 15px;-webkit-transition:all 0.7s ease 0s;-moz-transition:all 0.7s ease 0s;-o-transition:all 0.7s ease 0s;transition:all 0.7s ease 0s;}
.languages a{font-size:1.4em;color:#005591;text-decoration:none;}
.languages + .languages a{color:#55ABC1;border-left:1px solid #005591;margin-left:5px;padding-left:5px;}
.top-section{font-size:10px;margin-bottom:10px;padding-top:20px;float:right;}
#subscribe{float:left;padding-right:10px;padding-right:100px;display:inline-block;}
.language{display:inline-block;padding-top:10px;}
.social{display:block;position:fixed;right:130px;top:270px;}
.social a{font-size:40px;color:rgba(253,89,31,0.8);text-decoration:none;}
.social a i{margin-bottom:15px !important;display:block !important;}
.social a img{height:35px;margin-bottom:10px;display:block;margin-left:10px;}
.social a img:hover{opacity:0.6;}
.bottom-section{font-size:12px;padding-bottom:20px;padding-top:10px;border-top:1px solid #c7c7c7;clear:both;}
.bottom-section a{text-decoration:none;color:#005591;}
.designer{float:right;}
.content-section{min-height:450px;clear:both;margin-bottom:20px;}
.logo-image{float:left;margin-right:20px;height:110px;}
.ms-backgroundImage{background-image:none !important;}
[data-name="SiteLogo"],[data-name="SearchBox"]{display:inline-block !important;}
#DeltaPlaceHolderMain table:first-child{width:100% !important;padding-top:20px;}
.ms-core-listMenu-verticalBox > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item{padding:5px 40px;}
.donor-wrapper{margin-left:10%;width:100%;clear:both;margin-top:60px;}
.donor-image{margin-right:30px;height:70px;}
input[type=password], input[type=text], input[type=file], select, textarea{color:#444;}
ul#ssf-logins{text-align:left;font-size:13px;display:inline;margin-right:30px;padding:0;list-style:none;}
ul#ssf-logins li{font:bold 12px/18px 'Lato';display:inline-block;margin-right:-4px;position:relative;padding:10px 20px;background:#005591;color:#fff;cursor:pointer;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s;}
ul#ssf-logins li:hover{background:#005591;color:#fff;}
ul#ssf-logins li ul{z-index:100;padding:0;position:absolute;top:38px;left:0;width:150px;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;display:none;opacity:0;visibility:hidden;-webkit-transiton:opacity 0.2s;-moz-transition:opacity 0.2s;-ms-transition:opacity 0.2s;-o-transition:opacity 0.2s;-transition:opacity 0.2s;}
ul#ssf-logins li ul li{background:rgba(253,89,31,1);display:block;color:#fff;}
ul#ssf-logins li ul li a,ul#ssf-logins li ul li a:hover{text-decoration:none;color:#fff;}
ul#ssf-logins li ul li:hover{background:#005591;}
ul#ssf-logins li:hover ul{display:block;opacity:1;visibility:visible;}
#ssfmenu,
#ssfmenu ul,
#ssfmenu ul li,
#ssfmenu ul li a,
#ssfmenu #menu-button{margin:0;padding:0;border:0;list-style:none;display:block;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
#ssf a #pull{display:none;}
#ssfmenu:after,
#ssfmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#ssfmenu #menu-button{display:none;}
#ssfmenu{width:660px;font-family:'Lato', Helvetica, sans-serif;background:#005591;float:right;margin-top:15px;margin-bottom:20px;}
#ssfmenu > ul{box-shadow:inset 0 -3px 0 rgba(0, 0, 0, 0.05);}
#ssfmenu.align-right > ul > li{float:right;}
#ssfmenu > ul > li{float:left;width:110px;text-align:center;display:inline-block;}
#ssfmenu.align-center > ul{float:none;text-align:center;}
#ssfmenu.align-center > ul > li{float:none;}
#ssfmenu.align-center ul ul{text-align:left;}
#ssfmenu > ul > li > a{padding:18px 10px 21px 10px;border-right:1px solid rgba(252, 250, 250, 0.13);text-decoration:none;font-size:10px;font-weight:700;color:#FFF;text-transform:uppercase;}
#ssfmenu > ul > li:hover,
#ssfmenu > ul > li.current-menu-item{color:#ffffff;border-bottom:4px solid #14ECEC;}
#ssfmenu > ul > li.has-sub > a{padding-right:45px;}
#ssfmenu > ul > li.has-sub > a::after{content:"";position:absolute;width:0;height:0;border:6px solid transparent;border-top-color:#d3eced;right:17px;top:22px;}
#ssfmenu > ul > li.has-sub.active > a::after,
#ssfmenu > ul > li.has-sub:hover > a{border-top-color:#ffffff;}
#ssfmenu ul ul{position:absolute;left:-9999px;top:60px;padding-top:10px;font-size:10px;opacity:0;-webkit-transition:top 0.2s ease, opacity 0.2s ease-in;-moz-transition:top 0.2s ease, opacity 0.2s ease-in;-ms-transition:top 0.2s ease, opacity 0.2s ease-in;-o-transition:top 0.2s ease, opacity 0.2s ease-in;transition:top 0.2s ease, opacity 0.2s ease-in;}
#ssfmenu.align-right ul ul{text-align:right;}
#ssfmenu > ul > li > ul::after{content:"";position:absolute;width:0;height:0;top:-4px;left:20px;}
#ssfmenu.align-right > ul > li > ul::after{left:auto;right:20px;}
#ssfmenu ul ul ul::after{content:"";position:absolute;width:0;height:0;border:5px solid transparent;border-right-color:#ffffff;top:11px;left:-4px;}
#ssfmenu.align-right ul ul ul::after{border-right-color:transparent;border-left-color:#ffffff;left:auto;right:-4px;}
#ssfmenu > ul > li > ul{top:120px;z-index:999;}
#ssfmenu > ul > li:hover > ul{top:52px;left:0;opacity:1;}
#ssfmenu.align-right > ul > li:hover > ul{left:auto;right:0;}
#ssfmenu ul ul ul{padding-top:0;padding-left:6px;}
#ssfmenu.align-right ul ul ul{padding-right:6px;}
#ssfmenu ul ul > li:hover > ul{left:180px;top:0;opacity:1;}
#ssfmenu.align-right ul ul > li:hover > ul{left:auto;right:100%;opacity:1;}
#ssfmenu ul ul li a{text-transform:uppercase;margin-bottom:2px;color:#FFF;text-decoration:none;font-weight:600;padding:11px 25px;width:240px;background:rgba(253,89,31,0.8);}
#ssfmenu ul ul li:hover > a,
#ssfmenu ul ul li.active > a{color:#005591;}
#ssfmenu > ul > li > ul::after{position:absolute;display:block;}
#ssfmenu ul ul li:after{content:"";border-bottom:10px solid #000;}
#ssfmene.menu-btn{display:none;}
#ssfmenu ul ul li.has-sub > a::after{content:"";position:absolute;width:0;height:0;border:4px solid transparent;border-left-color:#777777;right:17px;top:14px;}
#ssfmenu.align-right ul ul li.has-sub > a::after{border-left-color:transparent;border-right-color:#777777;right:auto;left:17px;}
#ssfmenu ul ul li.has-sub.active > a::after,
#ssfmenu ul ul li.has-sub:hover > a::after{border-left-color:#333333;}
#ssfmenu.align-right ul ul li.has-sub.active > a::after,
#ssfmenu.align-right ul ul li.has-sub:hover > a::after{border-right-color:#333333;border-left-color:transparent;}
.button-blue-one-one{background:#005591;color:#FFF;min-width:6em;padding:7px 10px;border:1px solid #ABABAB;margin-left:10px;font-family:"Segoe UI","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;font-size:11px;}
.slicknav_btn{position:relative;display:block;vertical-align:middle;float:right;padding:0.438em 0.625em 0.438em 0.625em;line-height:1.125em;cursor:pointer;}
.slicknav_menu .slicknav_menutxt{display:block;line-height:1.188em;float:left;}
.slicknav_menu .slicknav_icon{float:left;margin:0.188em 0 0 0.438em;}
.slicknav_menu .slicknav_no-text{margin:0}
.slicknav_menu .slicknav_icon-bar{display:block;width:1.125em;height:0.125em;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);box-shadow:0 1px 0 rgba(0, 0, 0, 0.25);}
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar{margin-top:0.188em}
.slicknav_nav{clear:both}
.slicknav_nav ul,
.slicknav_nav li{display:block}
.slicknav_nav .slicknav_arrow{font-size:0.8em;margin:0 0 0 0.4em;display:;}
.slicknav_nav .slicknav_item{cursor:pointer;}
.slicknav_nav .slicknav_row{display:block;}
.slicknav_nav a{display:block}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a{display:inline}
.slicknav_menu:before,
.slicknav_menu:after{content:" ";display:table;}
.slicknav_menu:after{clear:both}
.slicknav_menu{*zoom:1}
.slicknav_menu{font-size:16px;display:none;}
.slicknav_btn{margin:5px 5px 6px;text-decoration:none;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.slicknav_menu .slicknav_menutxt{color:#FD591F;font-weight:bold;text-shadow:0 1px 3px #000;}
.slicknav_menutxt{textshadow:0px 0px 0px #000;}
.slicknav_menu .slicknav_icon-bar{background-color:#FD591F;}
.slicknav_menu{background:#005591;padding:5px;}
.slicknav_nav{color:#fff;margin:0;padding:0;font-size:0.875em;}
.slicknav_nav, .slicknav_nav ul{list-style:none;overflow:hidden;}
.slicknav_nav ul{padding:0;margin:0 0 0 20px;}
.slicknav_nav .slicknav_row{padding:5px 10px;margin:2px 5px;}
.slicknav_nav a{padding:5px 10px;margin:2px 5px;text-decoration:none;color:white;}
.slicknav_nav .slicknav_item a,
.slicknav_nav .slicknav_parent-link a{padding:0;margin:0;}
.slicknav_nav .slicknav_parent-link a:hover{color:black;}
.slicknav_nav .slicknav_row:hover{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#FFF;}
.slicknav_nav a:hover{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#FFF;color:black;border-bottom:4px solid #14ECEC;}
.slicknav_nav a a{color:inherit;}
.slicknav_nav a a:hover{border:none;}
.slicknav_nav .slicknav_txtnode{margin-left:15px;}