.container{height:495px}
.bottom-section .social-small{display:;}
.slicknav_menu{display:none;}
@media only screen
and (max-width:480px){.logo-image{display:none;}
#ssfmenu{display:none;}
.slicknav_menu{display:block;}
.top-section{float:left;padding-left:10px;padding-top:5px;padding-bottom:5px;}
.language{display:inline-block;padding-top:0px;padding-right:50px;float:right;}
#subscribebox{width:100px;margin-left:0px;float:left;}
#subscribe span{visibility:hidden;}
.button-blue-one-one{float:left;}
#fssNext{position:absolute;top:80px;right:0px;}
#fssPrev{position:absolute;top:80px;left:0px;}
.social{display:none;}
ul #slideshow{height:200px;}
ul #slideshow li{height:100%;}
.social-small{float:left;}
.bottom-section .social-small a{font-size:20px;color:rgba(253,89,31,0.8);text-decoration:none;margin-left:10px;}
.bottom-section .social-small{margin-left:250px;}
.left-side{margin-left:3%;margin-right:3%;padding-left:10px;width:94%;}
.right-side{margin-left:3%;margin-right:3%;float:left;width:94%;min-height:auto:}
.image-container{float:left;margin:10px 0px 10px 20px;width:100%;height:auto;position:relative;}
.donor-image{margin-right:20px;height:40px;}
}
@media only screen
and (min-width:481px)
and (max-width:767px){.logo-image{display:none;}
#ssfmenu{display:none;}
.slicknav_menu{display:block;}
.top-section{float:left;padding-left:10px;padding-top:5px;padding-bottom:5px;}
.language{display:inline-block;padding-top:0px;padding-right:50px;float:right;}
#subscribebox{width:100px;margin-left:0px;float:left;}
#subscribe span{visibility:hidden;}
.button-blue-one-one{float:left;}
#fssNext{position:absolute;top:120px;right:0px;}
#fssPrev{position:absolute;top:120px;left:0px;}
.social{display:none;}
.bottom-section .social-small a{font-size:30px;color:rgba(253,89,31,0.8);text-decoration:none;margin-left:10px;}
.bottom-section .social-small{margin-left:250px;}
.left-side{margin-left:20px;margin-right:20px;padding-left:10px;float:left;width:95%;min-height:auto;}
.right-side{margin-left:20px;margin-right:20px;float:left;width:100%;min-height:auto:}
.image-container{float:left;margin:10px 0px 10px 20px;width:100%;height:auto;position:relative;}
.donor-image{margin-right:20px;height:40px;}
}
@media only screen
and (min-width:768px)
and (max-width:1024px)
and (orientation:landscape){.container{height:auto;}
#ssfmenu{width:100%;float:left;}
.logo-image{display:none;}
.language{padding-right:50px;}
#ssfmenu > ul > li{float:left;width:95px;text-align:center;display:inline-block;}
#fssNext{position:absolute;top:120px;right:0px;}
#fssPrev{position:absolute;top:120px;left:0px;}
.social{display:none;}
.bottom-section .social-small a{font-size:30px;color:rgba(253,89,31,0.8);text-decoration:none;margin-left:10px;}
.bottom-section .social-small{margin-left:250px;}
.left-side{margin-left:3%;margin-right:3%;padding-left:10px;width:94%;height:100px;}
.right-side{margin-left:20px;margin-right:20px;float:left;width:100%;min-height:auto:}
.image-container{float:left;margin:10px 0px 10px 20px;width:100%;height:auto;position:relative;}
#posts-list{width:100%;}
#sidebar{width:100%;margin-bottom:50px;}
#sidebar li{float:left;margin-right:10px;}
#sidebar .block{margin-bottom:0px;}
.donor-image{margin-right:10px;height:60px;}
}
@media only screen
and (min-width:768px)
and (max-width:1024px)
and (orientation:portrait){.container{height:auto;}
#ssfmenu{width:100%;float:left;}
.logo-image{display:none;}
.language{padding-right:50px;margin-bottom:0px;margin-bottom:0px;}
#ssfmenu > ul > li{float:left;width:95px;text-align:center;display:inline-block;}
#fssNext{position:absolute;top:150px;right:0px;}
#fssPrev{position:absolute;top:150px;left:0px;}
.social{display:none;}
.bottom-section .social-small a{font-size:30px;color:rgba(253,89,31,0.8);text-decoration:none;margin-left:10px;}
.bottom-section .social-small{margin-left:250px;}
.left-side{margin-left:3%;margin-right:3%;padding-left:10px;width:94%;height:100px;}
#posts-list{width:100%;}
#sidebar{width:100%;margin-bottom:50px;}
#sidebar li{float:left;margin-right:10px;}
#sidebar .block{margin-bottom:0px;}
.donor-image{margin-right:10px;height:60px;}
}
@media only screen
and (min-width:1025px){.bottom-section .social-small{display:none;}
}
@media (min-width:1200px)
.container{width:1170px;}
@media (min-width:992px)
.container{width:970px;}
@media (min-width:768px)
.container{width:750px;}