.ms-rtestate-field p, p.ms-rteElement-P {
    line-height: 2;
}

.full-side{
	float: left;
	background: #f9f9f9;
	padding-left: 15px;
	padding-top: 15px;
	padding-right:10px;
	line-height: 26px !important;
	margin-bottom: 30px;
	color:#005591 !important;
}

.full-side-content{
	float:left;
	margin-top: -10px;
	color:#005591 !important;
}

.image-content{
	min-height: 250px;
}

.full-side-c {
    float: left;
    width: 65.4%;
    overflow: hidden;
    min-height: 170px;
    background: #f9f9f9;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    line-height: 26px !important;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #005591 !important;
}



.left-side{
	float: left;
	width: 30%;
	background: #f9f9f9;
	min-height: 430px;
	padding-left: 15px;
	padding-top: 15px;
	padding-right:10px;
	line-height: 26px !important;
	font-size: 14px;
	margin-bottom: 30px;
	color:#005591 !important;
}

.right-side{
	float:left;
	width:66.7%;
	min-height: 400px;
	margin-top: -10px;
	color:#005591 !important;
}


.right-side-submenu{
	margin-top: 20px !important;
}

.image-container{
	float:left;
	margin:10px 0px 10px 20px;
	width: 30%;
	/*height: 204px;*/
	position: relative;
}

.image-cont{
	width:31.5%
}

.image-cont1{
	width: 36.5%;
}

.full-side-cont{
	width:63.9%;
	min-height: 216px;
}

.full-side-content1 .full-side-cont {
    min-height: 190px;
}
.pagetitle{
	margin: 0 0 0 15px;
	font-size: 23px;
	font-weight: 900;
	color: #005591;
	text-transform: uppercase;
	padding-top: 40px;
	width: 30%;
}


.field-content{
	cursor: pointer;
	display: block;
	padding: 7px 5px 5px;
	background-color: #FD591F;
	text-transform: uppercase;
	position: absolute;
	padding: 17px 15px 0px 17px;
	width: 247px;
	height: 80px;
	opacity: 0.85;
	text-align: left;
	margin-left: 15px;
	top: 10px;
}

.field-content span{
	border-top: solid thin;
	padding-top: 15px;
	position: relative;
	width: 245px;
	display: block;
	color:#FFF;
	font-size: 14px;
	font-weight: bold;
}

.field-content:hover{
	background-color: #55ABC1;
}

.image-container img{
	width:100%;
}

.image-container-one{
	float:right;
	margin:0px 0px 0px 0px;
	width: 400px;
	height: 315px;
	position: relative;
}

.image-container-one img{
	width:100%;
	height:100%;
}

.left-side-one{
	background: #f9f9f9;
}

.left-side-two{
	width:55%;
}

.right-side-one{
	float: right;
	width:33.3%;
}
.left-side-content{
	margin-bottom: 30px;
}

.left-side-image img{
	width:400px;
	height:300px;
}
.right-side-donor{
	min-height:480px;
	width:42.45%;
	margin-top:0px;
}

#conceptnote{
	margin-top:10px;
	font-size:14px;
	text-transform:capitalize;
}

#conceptnote > h2 {
	margin: 0;
	padding: 0;
	line-height: 1.3em;
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	color: #005591;
}

#conceptnote ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#conceptnote ul li {
	display: inline-block;
	width: 120px;
	height: 60px;
	padding-top: 60px;
	border-bottom: 1px solid #d8d9da;
	float: left;
	margin-right: 45px;
}

#conceptnote ul li{
    height: 92px;
}

#conceptnote ul li:nth-child(5),
#conceptnote ul li:nth-child(6){
    border-bottom: none;
}
#one{
	background: url("../images/image-applypage-1.png") 0 20px no-repeat;
	background-size: 17px 35px; 
}
#two{
	background: url("../images/image-applypage-2.png") 0 20px no-repeat;
	background-size: 17px 35px; 
}
#three{
	background: url("../images/image-applypage-3.png") 0 20px no-repeat;
	background-size: 17px 35px; 
}
#four{
	background: url("../images/image-applypage-4.png") 0 20px no-repeat;
	background-size: 17px 35px; 
}
#five{
	background: url("../images/image-applypage-5.png") 0 20px no-repeat;
	background-size: 17px 35px; 
}
#six{
	background: url("../images/image-applypage-6.png") 0 20px no-repeat;
	background-size: 17px 35px; 
}

.left-side-three{
	width:33.4%;
}

.right-side-three{
	width:64%;
}


/* application form */

.left-side-four{
	width: 40%;
	margin-right: 5%;
}

.right-side-four{
	width:50%;
}


.feedback-input {
	color:#3c3c3c;
	font-family: Lato,Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #FFF !important;
	padding: 7px 13px 7px 13px !important;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 1px solid #ABABAB !important;
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- 
#name{
	background-image: url(../images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(../images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(../images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(../images/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}

#investment{
	background-image: url(../images/ID.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#subject{
	background-image: url(../images/subject.png);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
*/

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: Lato;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #FD591F;
	color:white;
	font-size:24px;
	padding-top:15px;
	padding-bottom:15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin:-4px 0px 20px 0px;
  font-weight:700;
}

#button-blue:hover{
	background-color: #55ABC1;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

.files-upload{
	padding: 7px 13px 7px 5px !important;
	margin-bottom: 10px;
	width: 90%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid #F2F2F2;
	/*background-image: url(../images/file.jpg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;*/
}

.file-label{
	font-size: 15px;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

.file-header{
	font-family:Lato;	
}

.full-width-content{
	background: #f9f9f9;
}

.full-width-content .pagetitle{
	margin-left: 20px;
}

#search > span{
	vertical-align: middle !important;
}

.ms-srch-sb>input{
	padding: 0px !important;
}

.page-line-hr{
	border-bottom: solid thin #0D417B;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

h2, h3, .ms-h2, .ms-h3, .ms-headerFont {
	font-family:Lato,'Lato' !important;
}

.ms-signInLink{
	display:none;
}



/*******About Us*****************/
.aboutus{
	float: left;
    width: 24%;
    margin-right: 1%;
    margin-bottom:50px;
    margin-top:30px;
}

.aboutus-header{
	margin: 0 0 0 15px;
    font-size: 20px;
    font-weight: 900;
    color: #005591;
    text-transform: uppercase;
}

.whoweare .aboutus-header{
	margin: 0 0 0 45px;
}
.whowefund .aboutus-header{
	margin: 0 0 0 35px;
}

.whatwefund .aboutus-header{
	margin: 0 0 0 35px;
}

.wherewework .aboutus-header{
	margin: 0 0 0 20px;
}


.aboutus-content{
	position: relative;
}

.aboutus-icon{
	background-color: #005591;
    left: 30%;
    font-size: 50px;
    border-radius: 50px;
    top: -40px;
    position: absolute;
    width: 100px;
    height: 100px;
}

.aboutus-icon i{
	color:white;
}

.aboutus-words{
	padding: 70px 10px 10px 10px;
    margin-top: 40px;
    background-color: #fafafa;
    line-height: 1.8;
    color: #005591;
    font-size: 13px;
}

.whoweare .aboutus-icon i{
	margin-left: 30px;
    margin-top: 25px;
}

.whowefund .aboutus-icon i{
	margin-left: 23px;
    margin-top: 25px;
}

.whatwefund .aboutus-icon i{
	margin-left: 23px;
    margin-top: 25px;
}

.wherewework .aboutus-icon i{
	margin-left: 30px;
    margin-top: 25px;
}