body {
	font-family:Lato,'Lato';
	margin: 0;
	padding: 0;
  font-size: 13px;
}
a{
  color: #0072C6;
  text-decoration: none;
}
a:visited {
    color: #639;
    text-decoration: none;
}

.ig{ margin:10px 0px;}
.lb-data{
	font-family:Lato,'Lato'
}
.container {width: 990px !important; margin: 0 auto;height: 495px;}

.ssf-logo{
	float:left;
	padding-top:20px;
}
.search{
	float:right;
	font-size:10px;
}

#search{
	margin-top: 52px;
	display:inline-block;
}

::-webkit-input-placeholder {
   font-family: Lato,'Lato';
   font-size: 13px;
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: Lato,'Lato';
   font-size: 13px;
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: Lato,'Lato';
   font-size: 13px;
   color: #000;
}

:-ms-input-placeholder {
   font-family: Lato,'Lato';
   font-size: 13px;
   color: #000;
}


.ms-srch-sb>input {
    color: #bebebe;
    font-size:1.4em;
    padding: 6px 15px 6px 35px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

.ms-srch-sb>input:focus  {
    width: 250px;
    }

#subscribebox {
	font-size: 12px;
    border: 1px solid #d1d1d1;
    color: #bebebe;
    padding: 6px 15px 6px 15px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

.languages a{
	font-size: 1.4em;
	color:#005591;
	text-decoration: none;
}

.languages + .languages a{
 color:#55ABC1;
 border-left: 1px solid #005591;
 margin-left: 5px;
 padding-left: 5px;
}

.top-section{
	font-size: 10px;
	margin-bottom: 10px;
	/* padding-bottom: 60px; */
	padding-top: 20px;
	/* border-bottom: 1px solid #c7c7c7; */
	float: right;
}

#subscribe{
	float: left;
	/* border-right: 1px solid #c7c7c7; */
	padding-right: 10px;
	padding-right: 100px;
	display: inline-block;
}

.language{
	display: inline-block;
	padding-top: 10px;
}

.social{
	display: block;
	position: fixed;
	right: 130px;
	top: 270px;
}

.social a{
	font-size: 40px;
	color: rgba(253,89,31,0.8);
	text-decoration: none;
}

.social a i{
	margin-bottom:15px !important;
	display:block !important;
}
.social a img{
	height: 35px;
	margin-bottom: 10px;
	display: block;
	margin-left: 10px;
}

.social a img:hover{
	opacity: 0.6;
}

.bottom-section{
	font-size: 12px;
	padding-bottom:20px;
	padding-top: 10px;
	border-top: 1px solid #c7c7c7;
	clear: both;
}

.bottom-section a{
	text-decoration: none;
	color:#005591;
}

.designer{
	float:right;
}

.content-section{
	min-height: 450px;
	clear:both;
	margin-bottom: 20px;
}

.logo-image{
	float:left;
	margin-right:20px;
	height:110px;
}




/***********************Sharepoint*************************/
.ms-backgroundImage {
background-image: none !important;
}

#s4-bodyContainer {
 padding-bottom: 0px;
}

[data-name="SiteLogo"],[data-name="SearchBox"] {
    display:inline-block !important;
}

#s4-workspace {
 position: static;
 overflow: auto;
}

#DeltaPlaceHolderMain table:first-child{
	width:100% !important;
	padding-top:20px;
}

.ms-core-listMenu-verticalBox > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item{
	padding:5px 40px;
}


ul#ssf-logins {
  text-align: left;
  font-size: 13px;
  display: inline;
  margin-right:30px;
  padding: 0;
  list-style: none;
}
ul#ssf-logins li {
  font: bold 12px/18px 'Lato';
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 10px 20px;
  background: #005591;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
ul#ssf-logins li:hover {
  background: #005591;
  color: #fff;
}
ul#ssf-logins li ul {
	z-index:100;
  padding: 0;
  position: absolute;
  top: 38px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul#ssf-logins li ul li {
  background: rgba(253,89,31,1);
  display: block;
  color: #fff;
}
ul#ssf-logins li ul li a,ul#ssf-logins li ul li a:hover {
	text-decoration: none;
	color: #fff;
}

ul#ssf-logins li ul li:hover { background: #005591; }
ul#ssf-logins li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}



/*************Donors***********************/

.donor-wrapper{
	margin-left:10%;
	width:100%;
	clear:both;
	margin-top:60px;
}

.donor-image{
	margin-right:30px;
	height:70px;
}

input[type=password], input[type=text], input[type=file], select, textarea{
	color: #444;
}
