#ssfmenu,
#ssfmenu ul,
#ssfmenu ul li,
#ssfmenu ul li a,
#ssfmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#ssf a #pull{
display:none;
}
#ssfmenu:after,
#ssfmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#ssfmenu #menu-button {
  display: none;
}
#ssfmenu {
  width: 660px;
  font-family: 'Lato', Helvetica, sans-serif;
  background: #005591;
  float:right;
margin-top:15px;
margin-bottom:20px;
}
#ssfmenu > ul {
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
#ssfmenu.align-right > ul > li {
  float: right;
}
#ssfmenu > ul > li {
  float: left;
  width: 110px;
  text-align: center;
  display: inline-block;
}
#ssfmenu.align-center > ul {
  float: none;
  text-align: center;
}
#ssfmenu.align-center > ul > li {
  float: none;
}
#ssfmenu.align-center ul ul {
  text-align: left;
}
#ssfmenu > ul > li > a {
  padding: 18px 10px 21px 10px;
  border-right: 1px solid rgba(252, 250, 250, 0.13);
  text-decoration: none;
  font-size: 10px;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

#ssfmenu > ul > li:hover,
#ssfmenu > ul > li.current-menu-item{
  color: #ffffff;
  border-bottom: 4px solid #14ECEC;
}
#ssfmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#ssfmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#ssfmenu > ul > li.has-sub.active > a::after,
#ssfmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#ssfmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 10px;
  font-size: 10px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#ssfmenu.align-right ul ul {
  text-align: right;
}
#ssfmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -4px;
  left: 20px;
}
#ssfmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#ssfmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#ssfmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
#ssfmenu > ul > li > ul {
  top: 120px;
  z-index:999;
}
#ssfmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#ssfmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#ssfmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#ssfmenu.align-right ul ul ul {
  padding-right: 6px;
}
#ssfmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#ssfmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#ssfmenu ul ul li a {
  text-transform: uppercase;
  margin-bottom: 2px;
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
  padding: 11px 25px;
  width: 240px;
  background: rgba(253,89,31,0.8);
}
#ssfmenu ul ul li:hover > a,
#ssfmenu ul ul li.active > a {
  color: #005591;
}
#ssfmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#ssfmenu ul ul li:after{
  content: "";
  border-bottom: 10px solid #000;
}
#ssfmene.menu-btn{
display:none;
	
}
#ssfmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#ssfmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#ssfmenu ul ul li.has-sub.active > a::after,
#ssfmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#ssfmenu.align-right ul ul li.has-sub.active > a::after,
#ssfmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}
.button-blue-one-one {
    background: #005591;
    color: #FFF;
min-width: 6em;
    padding: 7px 10px;
    border: 1px solid #ABABAB;
    margin-left: 10px;
    font-family: "Segoe UI","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 11px;
}
